<% unless whiskey.new_record? %>
  <% whiskey.title = CGI.escape_html whiskey.title %>
  <% whiskey.description = CGI.escape_html whiskey.description %>
<% end %>
<%= form_with(model: whiskey, local: true) do |f| %>
  <% if whiskey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(whiskey.errors.count, "error") %> prohibited this whiskey from being saved:</h2>

      <ul>
        <% whiskey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%=  f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :taste %>
    <%= f.select :taste, options_for_select((1..5).map{|i| [i,i]},whiskey.taste) %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.select :color, options_for_select((1..5).map{|i| [i,i]}, whiskey.color) %>
  </div>

  <div class="field">
    <%= f.label :smokiness %>
    <%= f.select :smokiness, options_for_select((1..5).map{|i| [i,i]}, whiskey.smokiness) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
