<%= form_with(model: whiskey, local: true) do |f| %>
  <% if whiskey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(whiskey.errors.count, "error") %> prohibited this whiskey from being saved:</h2>

      <ul>
        <% whiskey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :taste %>
    <%= f.number_field :taste, within: 1..10 %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.number_field :color, within: 1..10 %>
  </div>

  <div class="field">
    <%= f.label :smokiness %>
    <%= f.number_field :smokiness, within: 1..10 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
